.product-container {
    border-radius: 0px;
    border: none;
}

.bi-caret-down-fill {
    display: none;
}

.bi-caret-right-fill {
    display: inline;
}

.product-title {
    background: white;
    line-height: 50px;

    div {
        margin-left: 20px;
    }

    div {
        &:not(.collapsed) {
            .bi-caret-down-fill {
                display: inline;
            }

            .bi-caret-right-fill {
                display: none;
            }
        }
    }
    
    svg {
        float: right;
        margin: 17px;
    }
}

.product-title:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.075);
}