.product-form {
    padding: 40px;
    border: 1px solid #d8d8d8;
}

.form-group {
    font-weight: 500;

    input {
        margin-top: 5px;
    }
}

.page-btn {
    margin-top: 20px;
}

.image-name {
    left: 170px;
    margin-top: -30px;
    position: absolute;
}

.image-error {
    position: absolute;
    margin-top: -25px;
    left: 10em;
    width: 160px;
}

.dollar-sign {
    position: absolute;
    z-index: 10;
    bottom: 0px;
    background-color: transparent;
    border: 0px;
    padding: 4px 18px;
    font-weight: 700;
    font-size: 22px;
}

.price-error-padding {
    padding-top: 43px;
}