<div class="col-md-12 col-lg-10 offset-lg-1 mt-n3">
    <div *ngIf="categories.length === 0 && !stillLoading" class="empty-products">
        <h5>No Categories added yet!</h5>
    </div>
    <div *ngIf="categories.length > 0 && !stillLoading">
        <table class="category-table table table-hover">
            <tbody>
                <tr *ngFor="let category of categories; let i = index;">
                    <td>{{ category.name }}</td>
                    <td class="crud">
                        <!-- <td class="product-crud" *ngIf="isAuthenticated"> -->
                        <button type="button" class="btn float-right page-btn" (click)="deleteCategory(category)">
                            <svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </button>
                        <button class="btn float-right page-btn" [routerLink]="['/category/edit', category._id]">
                            <svg class="bi bi-pencil-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                </svg>
                        </button>
                    </td>
                </tr>
            </tbody>
          </table>
    </div>
</div>
<app-pagination></app-pagination>

<ng-template #delete let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Delete category </h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.close();">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p class="sign">
            <svg class="bi bi-exclamation-triangle-fill warning" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 5zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
            </svg>
            Are you sure you want to delete <strong>{{category.name}}</strong>?
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn page-btn" (click)="modal.close();">Cancel</button>
        <button type="button" class="btn page-btn" ngbAutoFocus (click)="modal.dismiss(category);">Delete</button>
    </div>
</ng-template>
