<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" *ngIf="!userAuthenticated" routerLink="/login">Personal Project</a>
    <a class="navbar-brand" *ngIf="userAuthenticated" routerLink="/products">Personal Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li *ngIf="userAuthenticated" class="nav-item pl-4 pr-4" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" routerLink="/products">Products</a>
            </li>
            <li *ngIf="userAuthenticated" class="nav-item pl-4 pr-4" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" routerLink="/category">Category</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li *ngIf="!userAuthenticated" class="nav-item active">
                <a class="nav-link" routerLink="/signup">Sign up</a>
            </li>
            <li *ngIf="!userAuthenticated" class="nav-item active">
                <a class="nav-link" routerLink="/login">Login</a>
            </li>
            <span class="greetings" *ngIf="userAuthenticated">Hi {{ userData['firstName'] }}!</span>
            <button (click)="onLogout()" *ngIf="userAuthenticated" class="btn logout-btn">
                Logout
            </button>
        </ul>
    </div>
  </nav>