/* You can add global styles to this file, and also import other style files */
.no-padding {
    padding: 0px !important;
}

.no-margin {
    margin: 0px !important;
}

.display-center {
    min-height: 80%;
    min-height: 80vh;
    display: flex;
    align-items: center;
}