<div class="col-md-12 col-lg-10 offset-lg-1">
    <div class="card mb-3">
        <div class="card-header p-5">
            <form *ngIf='form' [formGroup]="form" #categoryForm="ngForm" (ngSubmit)="submit(categoryForm)">
                <div class="form-group">
                    <label for="name" class="col-sm-12">
                        Category Name:
                        <input id="name" name="name"
                            formControlName="name"
                            type="text"
                            class="form-control"
                            placeholder="Category Name">
                            <div class="error" *ngIf="form.get('name').invalid && form.get('name').touched">
                                <small *ngIf="form.get('name').errors?.required">This field is required.</small>
                                <small *ngIf="form.get('name').errors?.minlength">Category name should be 3 characters in minimum.</small>
                            </div>
                    </label>
                </div>
                <div class="form-group">
                    <label for="description" class="col-sm-12">
                        Category Description:
                        <textarea id="description" name="description"
                            formControlName="description"
                            type="text"
                            class="form-control mt-1"
                            placeholder="Category Description"
                            rows="3"></textarea>
                    </label>
                </div>
                <div class="form-group col-sm-12">
                    <button [disabled]="form.invalid" class="btn page-btn float-right" type="submit">
                        {{ formMode }}
                    </button>
                    <button class="btn page-btn float-right" routerLink="/category">
                        Cancel
                    </button>
                    <button type="button" #confirmationModal id="confirmationModal" class="invisible">
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<ng-template #categorySuccessModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="confirmationLabel">Success</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.close();">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p class="sign">
            <svg class="bi bi-exclamation-circle-fill success" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
        </svg>
            This category has been successfully 
            {{ formMode === 'Add' ? 'added!' :  'edited!' }}
        </p>
        <table class="table table-borderless product-info">
            <tbody>
                <tr>
                    <td>
                        <strong>Category name:&nbsp;</strong><br/>
                        <span>{{categoryVal?.name}}</span>
                    </td>
                </tr>
                <tr *ngIf="categoryVal.description">
                    <td>
                        <strong>Category description:&nbsp;</strong>
                        <p>{{categoryVal?.description}}</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn page-btn" ngbAutofocus (click)="modal.dismiss()">OK</button>
    </div>
</ng-template>
